.header {
    width: 100%;
    font-size: 2rem;
    color: #000000;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }